$font-family-sans-serif             : 'Open Sans', sans-serif;

// Glyphicons font path
$icon-font-path                     : "../fonts/";

// Grid settings
$main-sm-columns                    : 12;
$sidebar-sm-columns                 : 4;

// Colors
$brand-primary                      : #27ae60;
$black                              : #000;


//
// Bootstrap Overrides
//

$screen-sm                          : 768px;
$screen-md                          : 992px;
$screen-lg                          : 1200px;

$grid-gutter-width                  : 30px;
$container-sm                       : (720px + $grid-gutter-width);
$container-md                       : (940px + $grid-gutter-width);
$container-lg                       : (1140px + $grid-gutter-width);


// Navbar

// Basics of a navbar
$navbar-height                      : 50px;
$navbar-margin-bottom               : $line-height-computed;
$navbar-border-radius               : $border-radius-base;
$navbar-padding-horizontal          : floor(($grid-gutter-width / 2));
$navbar-padding-vertical            : (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height         : 340px;

$navbar-default-color               : #777;
$navbar-default-bg                  : #f8f8f8;
$navbar-default-border              : darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color          : #777;
$navbar-default-link-hover-color    : #333;
$navbar-default-link-hover-bg       : transparent;
$navbar-default-link-active-color   : #555;
$navbar-default-link-active-bg      : darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color : #ccc;
$navbar-default-link-disabled-bg    : transparent;

// Navbar brand label
$navbar-default-brand-color         : $navbar-default-link-color;
$navbar-default-brand-hover-color   : darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg      : transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg     : #ddd;
$navbar-default-toggle-icon-bar-bg  : #888;
$navbar-default-toggle-border-color : #ddd;


// Text
// $font-size-base                  : 14px;
// $font-size-h1                    : floor(($font-size-base * 3)); // ~89px
// $font-size-h2                    : floor(($font-size-base * 2.29)); // ~32px
// $font-size-h3                    : ceil(($font-size-base * 1.29)); // ~18px
// $font-size-h4                    : ceil(($font-size-base * 1));
// $font-size-h5                    : $font-size-base !default;
// $font-size-h6                    : ceil(($font-size-base * 0.85)) !default; // ~12px
// $headings-font-weight            : 400;

// $h1-color                        : $text-color;
// $h2-color                        : $brand-primary;
// $h3-color                        : $black;
// $h4-color                        : $black;
// $h5-color                        : $text-color;
